PORT=3000
REDIS_PORT
REDIS_HOST
REDIS_PASSWORD
REDIS_DB

ALLOWED_PROGRAMS="9ESE5Ztpr8zWbLyXCyiB5QqcjxHghotT8zqJxD2S3zaT, 2u1JrVasLvuGR5s3n84p5yaitHU2PGa8VjWZ7P2Eescm, HV16vUTaZ78bJP1CyH5KDWyx8NqS1MYSGdPkRsMcnSuY, 68ipZiXiUhsaSYSqEM3619vXgKy5CqFmNE6rYzxrXu6a, 8vgDvWkdqhpGBPAczpmZ3DJahVgNN36soRnyw6MbfMCJ"


RELAYER_KEYPAIR='[]'
